{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<!-- Contenido específico de la página de Entregables -->
<section class="deliverables">
    <div class="container">
        <h2>¡Entregables!</h2>
        <p>Consulta los detalles de tus entregas y fechas límite.</p>
        <ul>
            <li>Entregas pendientes</li>
            <li>Calendario de entregas</li>
            <li>Instrucciones y requisitos</li>
            <!-- Agrega más detalles de entregables aquí -->
        </ul>
    </div>
</section>

{% endblock %}