{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


<!-- Contenido específico de la página de Profesores -->
<section class="teachers">
    <div class="container">
        <h2>¡Hola, Profesores!</h2>
        <p>Accede a recursos y herramientas para la enseñanza.</p>
        <ul>
            <li>Material de enseñanza</li>
            <li>Herramientas de evaluación</li>
            <li>Foros de discusión</li>
            <!-- Agrega más recursos para profesores aquí -->
        </ul>
    </div>
</section>

{% endblock %}